---
layout: default
style: main
title: Home
---

<main class="main">
    <div class="top-container">
        <section class="video-container">
            <video autoplay="autoplay" loop="" muted="" plays-inline="true" defaultmuted="" id="video-main">
                <source src="/assets/video/bannerlord_main.mp4" type="video/mp4">
            </video>
        </section>

        <section class="intro-container">
            <h2 class="intro-title">배너로드 한글화 프로젝트</h2>
            <p class="intro-text">
                배너로드를 한국어로 플레이 할 수 있습니다. 더이상 언어파일을 중구난방 찾으러 다닐 필요가 없습니다.
                현재는 얼리엑세스 버전의 번역 검수 기간입니다. 절대로 파일을 유포하지 마십시오. 개인별로 라이센스키를 제공하므로 추적이 가능합니다.
            </p>
            <a href="https://github.com/shlifedev/BannerlordTranslateWeb/releases" class="btn-orange">
                한글패치 다운로드
            </a>
        </section>
    </div>

    <article class="news-container">
        <div class="title-wrap">
            <h2 class="news-title">News and Updates</h2>
            <a href="/news" class="btn-link">See All</a>
        </div>

        <ul class="news-list">
            {% for post in site.posts %}
                {% if forloop.index <= 3 %}
                    <li>
                        <a href="{{ post.url }}">
                            <div class="list-image-wrap">
                                <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
                            </div>

                            <div class="list-info-wrap">
                                <h3 class="list-title">{{ post.title }}</h3>
                                <span class="list-date">{{ post.date | date_to_string }}</span>
                                <div class="list-text">
                                    {{ post.excerpt }}
                                </div>
                            </div>
                        </a>
                    </li>
                {% else %}
                    {% break %}
                {% endif %}
            {% endfor %}
        </ul>
    </article>

    <section class="image-container">
        <div class="container">
            <h2>개발자의 말</h2>
            <p>
                한글패치 파일은 마운트 앤 블레이드 공식 카페에서 배포합니다. 모든 번역데이터의 저작물은 마공카 번역 참여자들에게 있습니다.
				모드 파일을 개발자 허락없이 수정&무단유포 하지 마십시오. 반드시 공시 홈페이지를 통해서 다운로드 하십시오.
            </p>
            <a href="https://www.taleworlds.com/en/Games/Bannerlord" class="btn-orange">WHY EARLY ACCESS?</a>
        </div>
    </section>
</main>
