<footer class="footer">
    <div class="footer-container">
        <h1 class="footer-logo">
            <a href="https://www.taleworlds.com/"><img src="/assets/images/footer_logo.png" alt="TaleWorlds"></a>
        </h1>

        <div class="footer-legal">
            <a href="/policy">Privacy Policy</a>
        </div>

        <p class="copyright">
            © 2005-2019 <a href="https://www.taleworlds.com/">TaleWorlds Entertainment</a>. All rights reserved.
        </p>

        <p class="copyright">
            © 2020 <a href="https://github.com/kimchanhyung98">kimchanhyung98</a>. All rights reserved.
        </p>
    </div>
</footer>