@import '../helpers/_variables';
@import '../helpers/_extends';
@import '../helpers/_mixins';

@import '../components/_button';
@import '../components/_news-list';

%container-default{
    @include size(940px);
    @include margin(0 auto);
}

.main{
    overflow: hidden;
}

.top-container{
    @include padding(208px 0 100px);

}

.video-container{
    @include size(100%, 100%);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;

    #video-main{
        @include size(100%, 100%);
        object-fit: cover;
    }
}

.intro-container{
    @include size(100%);
    @include margin(0 auto);
    text-align: center;

    .intro-title{
        @include margin(280px 0 15px);
        background-image: linear-gradient(90deg, #716E5A 0%, #E7E3C6 50%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 54px;
        line-height: 70px;
    }

    .intro-text{
        @include size(66.6%);
        @include margin(0 auto 35px);
        font-size: 20px;
        line-height: 30px;
        color: $white;
        text-shadow: 1px 1px 1px #131212;
    }

    .btn-orange{
        @include size(null, 50px);
        font-weight: 800;
        font-size: 18px;
        line-height: 54px;
    }
}

.news-container{
    @include size(100%);
    @include padding(0 15px 40px);
    @include box-shadow(0px -5px 15px 3px rgba(0, 0, 0, 0.75));
    @include box-sizing(border-box);
    overflow: hidden;
    background: #131212;

    .title-wrap{
        @include margin(top 50px);
        @include padding(0 30px);
        overflow: hidden;

        .news-title{
            float: left;
            font-size: 24px;
            line-height: 100%;
            color: #e7e3c6;
        }

        .btn-link{
            float: right;
            font-size: 18px;
            line-height: 100%;
            color: $orange;
        }
    }

    .news-list{
        @include news-list();
    }
}

.main-container{
    @include size(100%, 500px);
    @include padding(top 140px);
    @include background('/assets/images/banner_bg_1.jpg', no-repeat, 50% 0);
    @include box-sizing(border-box);
    background-size: cover;
    text-align: center;

    .container{
        @extend %container-default;
    }

    h2{
        font-weight: 600;
        font-size: 35px;
        line-height: 1.3;
        color: $white;
    }

    p{
        font-weight: 300;
        font-size: 25px;
        color: #e7e3c6;
    }

    .btn-orange{
        @include size(min 200px, 50px);
        @include margin(top 30px);
        font-weight: bold;
        font-size: 18px;
        line-height: 54px;
    }
}

.text-container{
    @include size(100%);
    @include padding(50px 0);
    display: none;
    background: #131212;
    text-align: center;

    &.show{
        display: block;
    }

    .container{
        @extend %container-default;
    }

    p{
        color: $white;
        text-align: left;
    }

    .btn-show-text{
        @include size(null, 50px);
        @include margin(30px auto 0);
        line-height: 52px;
    }
}