@import '../helpers/_variables';
@import '../helpers/_extends';
@import '../helpers/_mixins';

@import '../components/_button';
@import '../components/_news-list';
@import '../components/_pagination';

.main{
    overflow: hidden;
}

.skin-container{
    @include size(null, 500px);
    @include background('/assets/images/news-bg.jpg');
}

.post-container{
    @include size(100%);
    @include padding(0 15px 40px);
    @include box-shadow(0px -5px 15px 3px rgba(0, 0, 0, 0.75));
    @include box-sizing(border-box);
    display: inline-block;
    background: #131212;

    .post-wrap{
        @include size(width 80% min $screen-size);
        @include margin(-130px auto 0);
        @include padding(30px);
        @include box-sizing(border-box);
        background: #13212e;
    }

    .post-header{
        overflow: hidden;
        line-height: 1.3;

        .post-title{
            font-weight: bold;
            font-size: 40px;
            color: #f5f5f5;
        }

        > span{
            display: inline-block;
            font-size: 13px;
            color: #d0d3d5;
        }

        .txt{
            @include size(1px, 12px);
            @include margin(0 5px -2px);
            overflow: hidden;
            background: #d0d3d5;
            text-indent: -9999px;
        }

        a{
            @extend %reset-link;
            @include border(1px dotted #e85a5a, bottom);
            color: #e85a5a;

            &:hover{
                border-color: #bf1f1f;
                color: #bf1f1f;
            }
        }
    }

    .post-thumbnail{
        @include margin(top 40px);
        text-align: center;

        img{
            @include size(max 100%);
        }
    }

    .post-content{
        @include margin(top 40px);
        font-weight: 300;
        color: #d0d3d5;
        word-break: keep-all;

        code{
            font-size: 15px;

            &.highlighter-rouge{
                color: $white;
                background: $light-black;
            }
        }

        ul{
            list-style: disc;

            li{
                @include margin(left 40px);
            }
        }

        a{
            @extend %reset-link;
            @include border(1px dotted #e85a5a, bottom);
            color: #e85a5a;

            &:hover{
                border-color: #bf1f1f;
                color: #bf1f1f;
            }
        }

        h2{
            @include margin(top 20px);
            font-size: 25px;
            font-weight: 700;
        }
    }
}