// color
$page-color: rgba(0, 0, 0, 0.8);
$black: #000;
$light-black: #333333;
$border-color-base: #d8d8d8;
$white: #ffffff;

$orange: #f1751b;
$beige: #f4e2a9;

// font - size
$font-size-base: 16px;

$font-family-base: 'Overpass', sans-serif;

// screen
$screen-size: 1024px;
