<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        {% if page.style %}
            <link rel="stylesheet" href="/assets/css/{{ page.style }}.css">
        {% endif %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800&display=swap">

        {% include analytics.html %}
        {% include tagmanager.html %}
        <script type="text/javascript" src="/assets/js/common.js"></script>
        {% if page.script %}
            <script type="text/javascript" src="/assets/js/{{ page.script }}.js"></script>
        {% endif %}
    </head>
    <body>
        {% include tagmanager_noscript.html %}
        <div id="app">
            {% include navigation.html %}
            {{ content }}
            {% include footer.html %}
        </div>
    </body>
</html>