@import '../components/_button';

body{
    font-size: $font-size-base;
    font-family: $font-family-base;
    line-height: 1.6;
    word-break: keep-all;
}

.main{
    min-width: $screen-size;
}

.hidden{
    display: none;
}

.bold,
strong{
    font-weight: bold;
}

.btn-orange{
    @include btn(orange-fill);
}

.skin-container{
    @include size(100%);
    @include background(null, no-repeat, 50% 0);
    background-size: cover;
}